* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #0c0c0c;
    color: white;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.back-button {
    position: fixed;
    top: 10px;
    left: 10px;
    padding: 10px 20px;
    background-color: #ff6b6b;
    color: white;
    font-size: 1rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
}

.back-button:hover {
    background-color: #feca57;
    box-shadow: 0 0 15px rgba(255, 255, 255, 0.7);
}


.container {
    width: 90%;
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
}

h2 {
    margin-bottom: 20px;
    color: white;
    font-size: 2rem;
}

canvas {
    background-color: #1c1c1c;
    border-radius: 15px;
    box-shadow: 0 0 15px rgba(0, 255, 255, 0.5);
    width: 100%;
    height: auto;
}

/* Ajuste responsive */
@media (max-width: 768px) {
    canvas {
        height: 300px;
    }

    h2 {
        font-size: 1.5rem;
    }
}

@media (max-width: 480px) {
    canvas {
        height: 250px;
    }

    h2 {
        font-size: 1.2rem;
    }
}


